<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <hr class="my-4" />
  <div class="about">
    <div class="media">
      <img
        src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/69251955_10161912178080532_2151136264282177536_o.jpg?_nc_cat=105&_nc_sid=09cbfe&_nc_ohc=T1BB61V5Ps0AX_1Ez4w&_nc_ht=scontent-yyz1-1.xx&oh=2cd04c801fc11979bb25adda3f5ce11e&oe=5F086E9A"
        width="500"
        height="500"
        class="mr-3"
        alt="ammar"
      />
      <div class="media-body">
        <h5 class="mt-0">About me</h5>
        <p class="lead">
          Just graduated from college in Software Engineering from Sheridan
          College, looking to become software engineer. <br /><br />Specifies: <br />
          
          <b> Languages:</b>
          Java, SQL, JavaScript, C#, C, NoSQL, PHP<br />
          <b>Frameworks:</b> Spring, Spring Boot, Angular, Hibernate, JPA, JavaScript,
          Apache<br />
          <b>Tools:</b> Maven, Git, Postman<br />
          <b>UI:</b> Angular, Typescript, JavaFX, HTML, CSS<br />
          <b>OS:</b> Linux/Windows<br />
        </p>
      </div>
    </div>
  </div>

  <a class="btn btn-primary btn-lg" href="#" role="button">Request Resume</a>
</div>
